<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../assets/logIn.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
    <title>Log In</title>
</head>

<body>
    <header>
        <div class="logo">
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="datosContacto.php">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="../controls/controlLogin.php" method="POST" class="form">
            <h1>LOG IN</h1>
            <div class="txt t1">
                <input required type="text" name="user" id="user">
            </div>
            <div class="txt t2">
                <input required type="password" name="pass" id="pass">
            </div>
            <input type="submit" class="login" value="Login">
        </form>
    </main>
    <footer>
            <div class="bottom-info">
                <p>@2019 <span>Spicy Banana</span> from <span>FactoriaF5.</span></p>
            </div>
        </footer>   
</body>

</html>